<h1>Question Time?</h1>

Looking for an answer?  Well, ask the question here first.

<ul>
  {{#each model as |question|}}
    {{question-tile question=question deleteQuestion="deleteQuestion"}}
  {{/each}}
</ul>

{{new-question save2="save3"}}
